@{
    ViewBag.Title = "Home Page";
}

<form onsubmit="GetUserContributions($('#UserIDInput').val()); return false;">
    Enter a Github username: <input type="text" id="UserIDInput" />
    <input type="submit" value="Submit">
</form>

<div id="errorBox"></div>

<br /><br />

<div id="graph"></div>

<div id="hiddenGraph"></div>