@{
    ViewBag.Title = "Home Page";
}

<form onsubmit="GetUserContributions($('#UserIDInput').val()); return false;">
    Enter a Github username: <input type="text" id="UserIDInput" />
    <input type="submit" value="Submit">
    <span id="errorBox"></span>
</form>


<br /><br />

<div id="graph"></div>

<div id="hiddenGraph"></div>